.App {
  text-align: center;
}

#App-logo {
  animation: App-logo-spin infinite 10s linear;
}

#App-logo:hover {
  animation: App-logo-spin-hover infinite 2s linear;
}

#App-login:hover~#App-logo {
  animation: App-logo-spin-hover infinite 2s linear;
}

#logo-spin{
  animation: App-logo-spin-hover infinite 2s linear;
}

.App-header {
  background-image: url("https://source.unsplash.com/random/1600x900");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-hover {
  from {
    transform: rotate(0deg) scale(1.1);
  }
  to {
    transform: rotate(-360deg) scale(1.1);
  }
}