.App {
  text-align: center;
}

#App-logo {
  animation: App-logo-spin infinite 6s linear;
  transition: 0.5s ease-in
}

#App-logo:hover {
  /* animation: App-logo-spin-hover infinite 2s ease-in-out; */
}

#App-banner {
  transition: 0.5s ease-in-out;
}

#App-card:hover #App-banner {
  transform: translateY(-0.2em) scale(1.02)
}

#App-card:hover #App-logo {
  animation: App-logo-spin-hover infinite 2s linear;
}

.App-header {
  background-image: url("https://source.unsplash.com/random/1600x900");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-hover {
  from {
    transform: rotate(0deg) scale(1.1);
  }
  to {
    transform: rotate(-360deg) scale(1.1);
  }
}